<!DOCTYPE html>
<html>

<head>
    <title>CEU FIA Bonds Assignment</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    <div class="base">
        <form action="/">
            <h1>CEU FIA Bonds Assignment</h1>
            <h2>Submit your portfolio</h1>
                <div class="item">
                    <p>Team name</p>
                    <div class="team-item">
                        <select>
                <option value="">Team</option>
                <option value="1">Team 1</option>
                <option value="2">Team 2</option>
                <option value="3">Team 3</option>
                <option value="4">Team 4</option>
                <option value="5">Team 5</option>
                <option value="6">Team 6</option>
                <option value="7">Team 7</option>
              </select>
                    </div>
                </div>
                <div class="item">
                    <p>CEU email</p>
                    <input type="email" name="email" />
                </div>
                <div class="item">
                    <p>Portfolio Constituents</p>
                    <p>Asset 1</p>
                    <div class="portfolio-item">
                        <label>ISIN</label>
                        <input type="name" name="asset1" />
                        <label>Weight</label>
                        <input type="number" name="weight1" placeholder="0" step="0.1" min=0 max=100/>
                    </div>
                    <p>Asset 2</p>
                    <div class="portfolio-item">
                        <label>ISIN</label>
                        <input type="name" name="asset2" />
                        <label>Weight</label>
                        <input type="number" name="weight2" placeholder="0" step="0.1" min=0 max=100/>
                    </div>
                    <p>Asset 3</p>
                    <div class="portfolio-item">
                        <label>ISIN</label>
                        <input type="name" name="asset3" />
                        <label>Weight</label>
                        <input type="number" name="weight3" placeholder="0" step="0.1" min=0 max=100/>
                    </div>
                    <p>Asset 4</p>
                    <div class="portfolio-item">
                        <label>ISIN</label>
                        <input type="name" name="asset4" />
                        <label>Weight</label>
                        <input type="number" name="weight4" placeholder="0" step="0.1" min=0 max=100/>
                    </div>
                    <p>Asset 5</p>
                    <div class="portfolio-item">
                        <label>ISIN</label>
                        <input type="name" name="asset5" />
                        <label>Weight</label>
                        <input type="number" name="weight5" placeholder="0" step="0.1" min=0 max=100/>
                    </div>
                    <p>Asset 6</p>
                    <div class="portfolio-item">
                        <label>ISIN</label>
                        <input type="name" name="asset6" />
                        <label>Weight</label>
                        <input type="number" name="weight6" placeholder="0" step="0.1" min=0 max=100/>
                    </div>
                    <p>Asset 7</p>
                    <div class="portfolio-item">
                        <label>ISIN</label>
                        <input type="name" name="asset7" />
                        <label>Weight</label>
                        <input type="number" name="weight7" placeholder="0" step="0.1" min=0 max=100/>
                    </div>
                </div>
                <div class="btn-block">
                    <button type="submit" href="/">Submit</button>
                </div>
        </form>
    </div>
</body>

</html>