html,
body {
    min-height: 100%;
}

body,
div,
form,
input,
select,
p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}

h1 {
    margin: 15px 0;
    font-weight: 400;
    font-weight: bold;
    color: rgb(29, 29, 29);
}

.base {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 3px;
}

form {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
}

input,
select {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

input {
    width: calc(100% - 10px);
}

select {
    width: 100%;
    background: transparent;
}

.item {
    position: relative;
    margin: 10px 0;
}

@media (min-width: 568px) {
    .portfolio-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
    }
    .portfolio-item input {
        width: calc(50% - 100px);
    }
}

@media (min-width: 992px) {
    .base {
        width: 800px;
        margin: auto;
    }
}

.item:hover p {
    color: #00adcc;
}

.btn-block {
    margin-top: 20px;
    text-align: center;
}

button {
    width: auto;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0666a3;
}

.confirmation-base {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.confirmation-base p {
    color: rgb(29, 29, 29)
}

.bg {
    background-color: rgb(118, 211, 118);
}

.download {
    text-align: end;
}